
/* Main div */
article
{
  border-radius: 5px;
  border: 1px solid #DBDBDB;
  width: 35%;

  overflow: hidden;
  margin-right: auto;
  margin-left: 32%;
  margin-top: 5%;
}

/* The title WSU */
article header span
{
  font-size: 600%;
  font-family: 'BeonRegular'; /*Setup the font */
}

h4
{
  text-align: center;
  margin-top: 0;
  font-size: 150%;
  font-family: 'Roboto-Regular';
}

/* Buton on the password form to come back to the login */
.UserBack
{
  background-color: transparent;
  padding: 5px 10px;
  border: 1px solid #DBDBDB;
  border-radius: 20px;
}
.UserBack:hover
{
  background-color: #DBDBDB;
}



article header
{
  text-align: center;
}

.LoginInput
{
  width: 90%;
}

.form
{
  width: 90%;
  margin-right: 5%;
  margin-left: auto;
}

.form .submitButton
{




  margin: 10% 0;

  float:right;
}
#userID, #resetPassword, #userPasswordDiv
{
  position: relative;
}
#resetPassword, #userPasswordDiv
{
  display: none;
}

/* ##################
#Responsive Screen
################## */

@media only screen and (max-width: 820px) {
  article {
    width: 70%;
    margin-right: auto;
    margin-left: 15%;
    margin-top: 5%;
  }
}
  @media only screen and (max-width: 450px) {
    article {
      width: 90%;
      margin-right: auto;
      margin-left: 5%;
      margin-top: 50%;
    }

    article header span
    {
      font-size: 300%;
    }

    h4
    {
      font-size: 100%;
    }

    .text_belowInputForm
    {
      font-size: 70%;
    }
  }
