/* Margin below Radio Input */
.containerRadioInput
{
  margin-bottom: 3%;
}

/* Git Url Input */
#gitURL
{
  padding: 2%;
  width: 40%;
}

#submiUpdateWebSiteID
{
  padding: 1% 2%;
  margin-bottom: 5%;
}

/* Upload icon in the rectDropFile from : https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css */
.fa-upload
{
  margin-left: 0vw;
  margin-right: auto;
  margin-top: 10vh;
  font-size: 200%;
  text-align: center;
}

/* ##################################
#redefinition of Drop file style for this application.
Other style in lib/css/forms.css
################################## */

.divDropFile
{
  margin: 0;
  height: 10rem;
  width: 20rem;
}

/* Create a custom radio button */
.rectDropFile {
  width: 20rem;
  height: 10rem;
  left: 0;

  text-align: center;
  position: absolute;
}


/* Input to aline */
.inline_input
{
  display: inline;
  margin-right: 5%;
}

table
{
  width: 50%;
  border-collapse: collapse;
}

table th
{
  padding-right: 10%;
  font-family: 'Turret_Road';
  border-bottom: 1px solid #ccc;
}

table td:nth-child(1)
{
  padding-top: 2%;
}

@media only screen and (max-width: 450px)
{

/* Git Url Input */
#gitURL
{
  padding: 3%;
  width: 80%;
}
.containerRadioInput
  {
    font-size: 15px;
  }

  #submiUpdateWebSiteID
{
  padding: 3% 5%;
  vertical-align: middle;
}
}
