/* #######################
#Import fonts from local files
####################### */

@font-face {
  font-family: 'BeonRegular';
  src: url('../fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Beon';
  src: url('../fonts/Beon/Beon-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto/Roboto-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Turret_Road-Bold';
  src: url('../fonts/Turret_Road/TurretRoad-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Turret_Road';
  src: url('../fonts/Turret_Road/TurretRoad-Regular.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Turret_Road-light';
  src: url('../fonts/Turret_Road/TurretRoad-ExtraLight.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito/Nunito-SemiBold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Set color and font for the name of the project WSU */
.W
{
  font-family: 'BeonRegular'; /*Setup the font */
  color: #EC0101;
}

.S
{
  font-family: 'BeonRegular'; /*Setup the font */
  color: #0AA400;
}

.U
{
  font-family: 'BeonRegular'; /*Setup the font */
  color: #FFD100;
}


/* ##########################
#Part of main aside in app
############################# */
body,html
{
  height: 96%;
  margin: 0;
}

/* Button to show main div on phone screen */
.btnSwitchView
{
  outline: none;

  display: none;
  top: 0;
  position: absolute;

  background-color: transparent; /* Blue background */
  border: none; /* Remove borders */
  color: #00185E; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

#mainAside
{
  /*border: 1px solid black;*/
  width: 20%; min-width: 200px;
  height: 100%;

  padding-top: 4%;

  background-color: #DEF8FF;
  box-shadow: 3px 2px 10px grey;
}

#divLogOut
{
  /* border: 1px solid black;*/

  width: 70%; height: 12%;

  padding: 10% 0;

  margin-left: 15%; margin-right: auto;

  background-color: white;
  box-shadow: 1px 1px 10px #C8C6C6;
  border-radius: 10Px;
}

/* USER EMAIL */
#divLogOut p
{
  width: 100%;

  font-size: 80%;
  text-align: center;
  color: #0050D7;
  font-family: 'Nunito', sans-serif;
}

/* Picture profil */
#divfaviconUser
{
  height: 5vw; width: 5vw;
  margin: -45% 0% 10% 32%;

  border-radius: 100%;
  background-color: #4BB2F6;
}

/* Texte inside the picture */
#divfaviconUser p
{
  padding-top: 20%;

  font-weight:bold;
  color: white;
  font-size: 2.3vw;
}

.logOutButton
{
  width: 100%;
  padding: 5px 20px;

  margin-left: 3.5vw; margin-right: auto;

  text-decoration: none;
  color: red;
  text-align: center;
  border-radius: 10px;
  font-family: 'Roboto Condensed', sans-serif;
}

.logOutButton:hover
{
  background-color: red;
  color: white;
}

/* List of apps */
#divApps
{
  /*border: 1px solid black;*/
  margin-top: 20%;
  margin-left: 5%;

}

.applist
{
  width: 60%;
  padding: 10px;

  text-decoration: none;
  color: #00185E;
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
}
.applist:hover
{
  color: #1A73E8;
  background-color: #F6F9FE;
  box-shadow: 5px 5px #1A73E8;
  border-radius: 10px;
}

#footerMainAside
{
  position: absolute;
  font-size: 300%;
  bottom: 0;
  width: 20%;
  text-align: center;
}

/* #################################
#Responsive part for the main aside
####################################*/

/* Show the div mainAside if the screen become grather than 650px */
@media screen and (min-width: 701px) {
  #mainAside
  {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  body,html
  {
    height: 100%;
    margin: 0;
  }
  .btnSwitchView
  {
    display: block;
    z-index: 100;
  }

  #mainAside
  {
    height: 85%;
    position: absolute;
    z-index: 99;
    display: none;
    padding-top: 15%;
  }

  #divfaviconUser
  {
    margin: -45% 0% 10% 32%;
    width: 8vw;
    height: 8vw;
  }
  #divfaviconUser p
  {
    padding-top: 20%;
    font-weight:bold;
    color: white;
    font-size: 3.5vw;
  }

  .logOutButton
  {
    padding: 3% 8%;
    margin-right: auto;
    margin-left: 25%;
  }

  #footerMainAside
  {
    width: 100%;
  }

}

/* @media screen and (max-width: 600px) {
body,html
{
height: 96.3%;
margin: 0;
}
.btnSwitchView
{
display: block;
}

#mainAside
{
display: none;
padding-top: 15%;
}

#divLogOut
{
/* border: 1px solid black;
padding: 5% 0;
height: 15%;
width: 70%;
margin-left: 15%;
margin-right: auto;
}
.logOutButton
{
padding: 3% 8%;
margin-right: auto;
margin-left: 25%;
}

#divfaviconUser
{
margin: -30% 0% 10% 36%;
width: 10vw;
height: 10vw;
}
#divfaviconUser p
{
padding-top: 20%;
font-weight:bold;
color: white;
font-size: 4vw;
}
} */

@media only screen and (max-width: 450px)
{

  .btnSwitchView
  {
    display: block;
    z-index: 100;
  }

  #mainAside
  {
    height: 94%;
    display: none;
  }

  #divLogOut
  {
    height: 10%;
  }

  #divfaviconUser
  {
    margin: -45% 0% 10% 32%;
    width: 13vw;
    height: 13vw;
  }
  #divfaviconUser p
  {
    font-size: 6vw;
  }
}


/* ###############
#Set-up the div to container apps
################# */

/*Hide scrollbar*/
div.appContenant::-webkit-scrollbar {
  display: none;
}
div.appContenant {
  scrollbar-width: none;  /* Firefox */
  overflow-y: scroll;
}

.mainTitle, .appDescrition
{
  font-family: 'Turret_Road-Bold';
}

.appDescrition
{
  font-family: 'Turret_Road-light';
  color: #000000;
}
.subTitle
{
  font-family: 'Turret_Road';
}

.error
{
  color: red;
}

/* The part for the app */
#appContenant
{
  /* border: 1px solid black; */
  float: right;
  width: 75%;
  height: 100vh;
  z-index: -999;
}

/* #################################
#Responsive part for the app container
####################################*/
@media screen and (max-width: 700px)
{
  #appContenant
  {
    width: 95%;
  }
}

@media only screen and (max-width: 450px)
{
  #appContenant
  {
    margin-top: 5%;
  }
}


/* ##############################
#Set-up css for form
############################## */

input[type=text], input[type=password]
{
  margin: 2px;
  border-radius: 5px;
  border: 1px solid #DBDBDB;
  padding: 4%;
}

input[type=text]:focus, input[type=password]:focus, input[type=password]:hover, input[type=text]:hover {
  margin: 1px;
  outline: none;
  border: 2px solid blue;
}

.form .submitButton
{
  cursor: -webkit-grabbing; cursor: grabbing;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: #1A73E8;
  padding: 3% 5%;
}

/* Text or button below the input form */
.text_belowInputForm, .button_belowInputForm
{
  display: inline;
}

.button_belowInputForm
{
  display: inline;
  padding: 2%;
  color: #1A73E8;
  background: none;
  border: none;
  text-decoration: none;
}

.text_belowInputForm
{
  font-family: 'Roboto-Regular';
  color: #EC0101;
  display: none;
}

.button_belowInputForm:hover
{
  background-color: #F6F9FE;
}

/* ###################
#Customize Radio Input
################### */

/* Customize the label (the container) */
.containerRadioInput {
  padding-left: 35px;
  margin-bottom: 12px;

  display: block;
  position: relative;

  font-size: 100%;
  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRadioInput input {
  position: absolute;
  width: 0;
  height: 0;

  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  width: 15px;
  height: 15px;

  top: 0;
  left: 0;

  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadioInput:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadioInput input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadioInput input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadioInput .checkmark:after {
  top: 4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
}


/* #####################
#Customize the drop file container
##################### */

/* Customize the label (the container) */
.dropFile {
  display: block;
  position: relative;
  padding-left: 35px;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default choose file button */
.dropFile input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom choose file button */
.rectDropFile {
  position: absolute;


  background-color: #eee;
  border-radius: 5px;

  outline: 2px dashed black;
  outline-offset: -10px;
}

/* On mouse-over, add a grey background color */
.dropFile:hover input ~ .rectDropFile {
  background-color: #ccc;
}
